<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
</head>
<body>
	<h1><%= @title %></h1>
	<nav>
		<a href="#">Posts</a>
		<a href="/new">New</a>
		<a href="/1">First</a>
	</nav>
</body>
</html>